 @font-face {
  font-family: "ぽーらリリィ B";
  src: url("fonts/PaulaLily-B.otf") format("woff2");
}

header{
    background-color: white;
opacity:80% ;
}
body{
    font-size: 16px;
}
.title{
    font-family: "ぽーらリリィ B";
    font-size: 50px;
}
.Game{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;

 }

.contents{
    display: grid;
    align-items: stretch;
    gap:2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    
}
.contents .content{
    display: flex;
    justify-content: space-between;

}
.contents .lines{

text-align: justify;
}

.pixturs{
    display: flex;
    gap:30px;
    justify-content: space-around;
}
.coments{
    margin:10px auto;
    padding: 5px;
    width: 80%;
    border: solid black 5px;
    line-height: 1.5;
}
.coments h3{
    margin:3px;
}

.icons{
    display: flex;
    justify-content: space-around;
}


.icon_left img{
     height:70px;
    width:90px ;
}

.icon_right img{
    height:70px;
    width:90px ;
}
.icon_right p{
   white-space: nowrap;
}